.radio-toolbar {
    margin: 10px;
  }
  
.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
  }
  
.radio-toolbar label:hover {
    background-color: #dfd;
  }
  
.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
  }
  
.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
  }

  .correct {
    background-color: lightgreen;
  }
  
  .incorrect {
    background-color: lightpink;
  }

  #content-wrapper {
    font-family: 'Baloo Chettan 2', Arial, sans-serif;
    background-color: #000000;
    width: 100vw;
    padding: 40px 0;
}

#page-content, .collapsible {
    margin: 0 10px;
    border: 1px solid #466D48;
    moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: #F0F8FF;
    padding: 20px;
    display: block;
    overflow-wrap: break-word;
    color: black;
    font-size: 18pt;
}

@media screen and (min-width: 900px) {
    #page-content, .collapsible {
        margin: 0 5%;
        padding: 30px;
    }
}

#page-content a {
    color: #0379ff;
}

#page-content li {
    font-family: 'Overpass', sans-serif;
}

.twoltip {
    position: relative;
    display: inline-block;
}

.twoltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: black;
    color: #555;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -160px;
}

.twoltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.twoltip:hover .tooltiptext {
    visibility: visible;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.footer p {
    margin: 0;
}

/*
    Header CSS
*/

#header-navbar {
    font-family: 'Baloo Chettan 2', Arial, sans-serif;
    background-color: #ffffff;
    width: 100%;
    font-size: 24px;
}
#header-content {
    display: none;
}

.nav-drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#navul {
    font-size: 23px;
}
@media screen and (min-width: 900px) {
    .nav-drop {
        display: none;
    }
    #header-content {
        display: block
    }
}

.navbar {
    margin: 0 auto;
    text-align: center;
}

.mainheader {
    display: inline;
    color: white;
}

.button {
    border-radius: 9px;
    background-color: #000000;
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    opacity: 1
}

nav a.active {
    font-weight: 900;
}

/*
    Collapsible CSS
*/

.collapsible {
    padding: 15px 15px 15px 30px;
}

.collapsible h2, .collapsible h3 {
    cursor: pointer;
    margin: 0;
    padding: 5px;
}

.collapsible h2 {
    margin-left: -15px;
}

.collapsible h2::before, .collapsible h3::before {
    background-image: url("./chevron_down.svg");
    width: 20px;
    height: 20px;
    content: " ";
    display: inline-block;
    margin-bottom: -2px;
    transition-duration: 250ms;
}

.collapsible h2[aria-expanded="true"]::before, .collapsible h3[aria-expanded="true"]::before {
    transform: rotate(-180deg);
}
