.group {
    margin-left: 40px;
}

@media screen and (max-width: 900px) {
    .group {
        margin-left: 20px;
    }
}

h1 {
    font-weight: 600;
}

h3 {
    font-weight: 400;
}

#page-content p {
    font-size: 18px;
    margin: 10px 0 0 0;
}
